main {
  max-width: 500px;
  margin: 100px auto; 
}

hr {
  background-color: lightgray;
  height: 1px;
  border: none;
}

.page-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.order-summary-card {
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
}

.summary-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.summary-row {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-end;
  margin-bottom: 10px;
}

.sub-total {
  border-top: 1px solid lightgray;
  padding-top: 10px;
}

.total-row {
  padding-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(187, 25, 25);
  margin-bottom: 30px;
}

.empty-cart-order-button {
  padding: 14px;
  border: none;
  border-radius: 7px;
  background-color: rgb(255, 215, 15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}

.order-button {
  opacity: 1;
}

.order-button:hover {
  background-color: rgb(242, 203, 6);
}

.order-button:active {
  background-color: rgb(255, 217, 0);
  box-shadow: none;
}

.view-products {
  background-color: rgb(255, 215, 15);
  font-size: 16px;
  padding: 7px 14px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
}

.order-product-card {
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.delivery-date {
  color: green;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.product-description {
  display: flex;
  margin-bottom: 20px;
}

.product-image {
  width: 120px;
}

.product-name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.product-price {
  font-weight: 600;
  color: brown;
  margin-bottom: 10px;
}

.quantity-row {
  display: flex;
  gap: 7px;
}

.delete-cart,
.update-cart {
  color: dodgerblue;
  cursor: pointer;
}

.delete-cart:hover,
.update-cart:hover {
  color:brown;
}

.option-title {
  font-weight: 700;
}

.option-row {
  display: flex;
  gap: 6px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.option-row input {
  width: 20px;
}

.expected-date {
  color: green;
  font-weight: 500;
  margin-bottom: 3px;
}

.shipping-cost {
  color: gray;
  font-size: 14px;
}

